<%if(locals.books){%>
    <h2><%=cat.name%></h2>
    <%- include('book_list.ejs')%>
<%}else{%>
    <div class="container d-flex flex-wrap">
    <%cats.forEach(cat=>{%>
        <a href="/books/cats?id=<%=cat.id%>">
        <div class="card">
            <div class="card-body">
                <img src="/cats/<%-cat.id%>.png" alt="" height="20" width="20">
                <%=cat.name%>
            </div>
        </div>
        </a>
    <%})%>
    </div>
<%}%>