<div class="d-flex bd-highlight flex-row">
    <h2 class="h3 p-2 w-90 bd-highlight">Most voted books</h2>
    <a class="p-2 flex-shrink-1 bd-highlight" href="/books?orderBy=votes&order=desc">See more</a>
</div>
<div class="container d-flex justify-content-between flex-wrap">
    <%votes.forEach(b=>{%>
        <div style="width: 200px;" class="m-2">
            <div><img src="<%=b.coverImage%>" alt="<%=b.title%>" height="300" width="200"></div>
            <h4><a href="/books/book?id=<%=b.id%>"><%=b.title%></a></h4>
            <h5>Views: <%=b.views%>| Votes: <%=b.votes%></h5>
        </div>
    <% }) %>
</div>

<div class="d-flex bd-highlight flex-row">
    <h2 class="h3 p-2 w-90 bd-highlight">Most viewed books</h2>
    <a class="p-2 flex-shrink-1 bd-highlight" href="/books?orderBy=views&order=desc">See more</a>
</div>
<div class="container d-flex justify-content-between flex-wrap">
    <%views.forEach(b=>{%>
        <div style="width: 200px;" class="m-2">
            <div><img src="<%=b.coverImage%>" alt="<%=b.title%>" height="300" width="200"></div>
            <h4><a href="/books/book?id=<%=b.id%>"><%=b.title%></a></h4>
            <h5>Views: <%=b.views%>| Votes: <%=b.votes%></h5>
        </div>
    <% }) %>
</div>

<div class="d-flex bd-highlight flex-row">
    <h2 class="h3 p-2 w-90 bd-highlight">New books</h2>
    <a class="p-2 flex-shrink-1 bd-highlight" href="/books?orderBy=createAt&order=desc">See more</a>
</div>
<div class="container d-flex justify-content-between flex-wrap">
    <%news.forEach(b=>{%>
        <div style="width: 200px;" class="m-2">
            <div><img src="<%=b.coverImage%>" alt="<%=b.title%>" height="300" width="200"></div>
            <h4><a href="/books/book?id=<%=b.id%>"><%=b.title%></a></h4>
            <h5>Views: <%=b.views%>| Votes: <%=b.votes%></h5>
        </div>
    <% }) %>
</div>