<img src="<%=author.aImage%>" alt="<%=author.aname%>" height="200" width="282">
<h2><%=author.aname%></h2>

<%if(author.adesc.length==0){%>
    <button type="button" id="auth_update_prop">Update this author's info</button>
<%}%>

<div>
    <h2>Biography</h2>
    <p><%=author.adesc%></p>
    <div id="update_info" style="display: none;">
        <form action="/authors/addinfo" method="POST">
            <input type="hidden" name="authorID" value="<%=author.id%>">

            <label for="uploaded_img">Author's photo</label>
            <input type="file" id="uploaded_img" accept="image/png, image/jpeg" required>
            <input type="hidden" name="imgType" id="imgType">
            <input type="hidden" name="imgContent" id="imgContent">

            <label for="update_bio">Author's biography</label>
            <textarea name="update_bio" id="update_bio" cols="50" rows="10" maxlength="1000" placeholder="A short description (1000 characters at most)"></textarea>

            <button type="submit">Submit</button>
        </form>
        <div class="image-preview" id="imagePreview">
            <img src="" alt="Image preview" class="image-preview__image">
            <span class="image-preview__default-text">Image preview</span>
        </div>
    </div>
</div>
<div>
    <h2>Published books</h2>
    <%if(books.length > 0){%>
        <%-include('../books/book_list.ejs')%>
    <%}%>
</div>

<script src="/scripts/img_preview.js"></script>
<script>
    const update_btn = document.getElementById('auth_update_prop');
    if(update_btn){
        update_btn.addEventListener('click', ()=>{
            document.getElementById('update_info').style.display = 'block';
        })
    }
</script>